body{
background-color: blue;
}
h1{
color: white;
font-family:'Poppins',sans-serif;
text-align: center;
}
#logueo,#guardar{
    background-color: black,
    color:white;
    border:1px solidcolor:aquamarine;
    font: size 30;
    text-align:center;
    cursor: pointer;
    display: inline-block;
}
#logueo:hover,#guardar:hover{
    background-color: aqua;
    color: black;
}
#contenedor{
    width: auto;
    text-align: center;
}
#foto{
    width: 50%;
    height: 400px;
    margin: :0 auto;
    position: relative;
    background-image:url("https://www.purina.es/sites/g/files/mcldtz1656/files/2019-06/Perro%20salchicha%20%28Miniatura%20de%20pelo%20liso%29_400x378_0.jpg")
    background-size:contain;
    background-repeat:no-repeat;
}
